#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
    position: fixed;
    top: 228px;
  }

  .markerDiv {
    font-size: 25px;
    font-weight: bolder;
  }
