/* Map */
.app {
    background-color:  rgb(234, 238, 175);
}
iframe {
    width: 100%;
    height: 650px;
}
.login-form {
    width: 60%;

}
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Profile */

.imageSubmit {
    position: fixed;
    top: 250px;
    background-color: black;
    width: 100%;
    border: 5px white solid;
    height: 175px;
    color: white;
    z-index: 1;
}

.profileCard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

/* Home */

.homeGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 85vw;
    padding-left: 30px;
}

.top-posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

/* .top-post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.eventAside {
    background-color: white;
    position: fixed;
    right: 4vw;
    width: 30%;
    height: 60%;
}

@media only screen and (max-width: 1620px) {
    .profileCard {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 1550px) {
    .top-posts {
        grid-template-columns: 1fr 1fr;
    }
    .eventAside {
        width: 45%;
    }
}

@media only screen and (max-width: 1350px) {
    .eventAside {
        width: 40%;
    }
}

@media only screen and (max-width: 1300px) {
    .profileCard {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 1250px) {
    .eventAside {
        width: 32%;
    }
}

@media only screen and (max-width: 1090px) {
    .top-posts {
        grid-template-columns: 1fr;
    }
    .eventAside {
        width: 55%;
    }
}

@media only screen and (max-width: 980px) {
    .profileCard {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 950px) {
    .homeGrid {
        grid-template-columns: 1fr;
    }
    .eventAside {
        width: 100%;
        height: 40%;
        right: 0vw;
        top: 255px;
    }
    .top-posts {
        margin-top: 320px;
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 660px) {
    .profileCard {
        grid-template-columns: 1fr;
        margin-left: auto;
        margin-right: auto;
    }
}

