@keyframes rotate {
    from {
        transform: rotateY(0deg);
    }
    45% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(180deg);
    }
    95% {
        transform: rotateY(180deg);
    }
    to {
        transform: rotateY(0deg);
    }
}

/* to combay fixed position of title */
.empty {
    height: 255px;
}

.titleDiv {
    width: 100%;
    position: fixed;      
    right: auto;
    top: 0px;  
    background: #333;
    padding: 10px 0;
    color: #fff;
    z-index: 1;
    background-image: url('./street3.jpg');
}

.headH1 {
    padding: 30px 50px 78px 30px;
    animation: rotate;
    animation-duration: 60s;
    animation-iteration-count: infinite;

}

.B {
    font-size: 100px;
    border: 2px solid;
    padding: 0px 5px 0px 5px;
    
}

@media only screen and (max-width: 993px) {
    .empty {
        height: 228px;
    }
}

@media only screen and (max-width: 250px) {
    .there {
        position: fixed;
        transform: rotate(-90deg);
        top: 100px;
    }
}