.navDiv {
    width: 100%;
    position: fixed;
    top: 200px;
    z-index: 2;
    background-color: rgba(99, 125, 129, 0.5);
}

.link:hover {
    color: white;
}

.menu {
    display: none;
}

@media only screen and (max-width: 991px) {
    .navDiv {
        right: 0px;
        width: 25%;
        border: 4px #333 solid;
    }
    .menu {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 630px) {
    .navDiv {
        top: 50px;
        margin-right: 20px;
        border: none;
    }
}
